{{! 
  Connector: discovery-list-container-top
  Renders the custom Gasing Community Layout (hero + subcategory cards)
  only when visiting /c/general (komunitas)
}}
<div class="gc-forum-wrapper" id="gc-forum-layout"></div>
